<div class="container">
  <p>
    calendar-tracker works!
  </p>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Starting date:" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-list role="list" *ngFor="let item of itemsOLO">
    <mat-list-item role="listitem">
      <mat-checkbox>Day {{ item }}</mat-checkbox>
    </mat-list-item>
  </mat-list>
</div>

<div class="row">
  <div class="col">
    <button
      mat-button
      [disabled]="itemsOLO.length > 1"
      (click)="createCheckbox()"
    >
      Click me!
    </button>
  </div>
  <div class="col">
    <mat-button-toggle-group
      (click)="flag = !flag"
      #group="matButtonToggleGroup"
    >
      <mat-button-toggle value="nega" aria-label="Text align left">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center" aria-label="Text align center">
        <mat-icon>format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right" aria-label="Text align right">
        <mat-icon>format_align_right</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle
        value="justify"
        disabled
        aria-label="Text align justify"
      >
        <mat-icon>format_align_justify</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="example-selected-value">
      <span *ngIf="flag">Selected value: {{ group.value }}</span>
    </div>
  </div>

  <div class="col">
    <h2>Messages</h2>
    <button class="btn btn-primary" (click)="messageService.clear()">
      clear
    </button>
    <div *ngFor="let message of messageService.messages">{{ message }}</div>
  </div>
</div>

