<form #registerFORM="ngForm" (ngSubmit)="register()"
autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />

  <div class="form-group">
    <input
      type="text"
      name="username"
      [(ngModel)]="model.username"
      required
      class="form-control"
      placeholder="Username"
    />
  </div>

  <div class="form-group">
    <label for="favouriteValue">What is your fav value?</label>
    <select class="form-control" id="favouriteValue">
      <option *ngFor="let value of valuesFromHomePARENT" [value]="value">{{
        value.name
      }}</option>
    </select>
  </div>

  <div class="form-group">
    <input
      type="password"
      name="password"
      [(ngModel)]="model.password"
      required
      class="form-control"
      placeholder="Password"
    />
  </div>

  <div class="form-group text-center">
    <button mat-raised-button class="mr-1" type="submit">Register</button>
    <button
      mat-raised-button
      color="primary"
      class="btn btn-default"
      (click)="cancel()"
      type="button"
    >
      Cancel
    </button>
  </div>
</form>
