.example-full-width {
    width: 120px;
    margin-right: 8px;
    appearance: outline;
  }
  .align-me-right-OLO{
    float: right;
  }
  .material-icons {
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    left: 5px;
  }
  .nav-item {
    cursor: pointer;
  }