<mat-toolbar class="mat-elevation-z1">
    <span>O</span>
  <button *ngIf="loggedIn()" mat-button [matMenuTriggerFor]="menu">
    Welcome User
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <i class="material-icons">
        account_circle
      </i>
      Edit Profile
    </button>
    <button mat-menu-item>
      <i class="material-icons">
        exit_to_app
      </i>
      Logout
    </button>
  </mat-menu>

  <form  *ngIf="!loggedIn()" #loginOloForm="ngForm" (ngSubmit)="login()">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input
              [(ngModel)]="modelOLO.Username"
              name="Username"
              required
              matInput
              placeholder="Username"
            />
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-full-width">
            <input
              [(ngModel)]="modelOLO.Password"
              name="Password"
              type="password"
              required
              matInput
              placeholder="Password"
            />
          </mat-form-field>
        </td>

        <td>
          <button
            [disabled]="!loginOloForm.valid"
            mat-stroked-button
            color="primary"
            type="submit"
          >
            Login
          </button>
        </td>
      </tr>
    </table>
  </form>
</mat-toolbar>
<div class="container">
  <app-home></app-home>
</div>
<!-- <pre>
  Dito Kailangan yung #passwordShits="ngModel"
  Form Valid: {{loginOloForm.valid}}
  Form Touched: {{loginOloForm.touched}}
</pre> -->
